body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* tarjeta */
.tarjeta {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

/* nombre modo claro */
.nombre {
  color: #222;
}

/* MODO OSCURO */
body.oscuro {
  background: #121212;
}

body.oscuro .tarjeta {
  background: #1e1e1e;
  color: white;
}

body.oscuro .nombre {
  color: #ffffff;
}
/* FOTO PERFIL */
.foto-perfil {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
}